<section id="footer-section">
  <div class="footer-container">
    <div class="footer-box">
      <p>Copyright @ 2022 All Rights Reserved.</p>
      <p>Created By Code4TE</p>

    </div>

  </div>

</section>




<!-- External JS link -->
<script src="/js/index.js" charset="utf-8"></script>
</body>

</html>
