<%- include('partials/header') -%>


<section id="about-page-section">
  <div class="about-page-container">
    <div class="about-page-box">
      <div class="about-page-title">
        <h2>Team Details</h2>
      </div>
      <div class="about-page-content">

        <div class="card" style="width: 14rem; height: 8rem;">
          <div class="card-body">
            <h4 class="card-title">J N Guru Akaash</h4>
            <h6 class="card-subtitle mb-2 text-muted">(Team Leader)</h6>
            <p class="card-text">D12A VESIT</p>
          </div>
        </div>
        <div class="card" style="width: 14rem; height: 8rem;">
          <div class="card-body">
            <h4 class="card-title">Ajay Nair</h4>
            <p class="card-text">D12A VESIT</p>

          </div>
        </div>
        <div class="card" style="width: 14rem; height: 8rem;">
          <div class="card-body">
            <h4 class="card-title">Shubham Zope</h4>
            <p class="card-text">D12A VESIT</p>

          </div>
        </div>
        <div class="card" style="width: 14rem; height: 8rem;">
          <div class="card-body">
            <h4 class="card-title">Soham Das</h4>

            <p class="card-text">D12A VESIT</p>

          </div>
        </div>
        <!-- <h4>J N Guru Akaash (Team Leader)</h4>
        <h4>Ajay Nair</h4>

        <h4>Shubham Zope</h4>

        <h4>Soham Das</h4> -->
      </div>





    </div>

  </div>

</section>



<%- include('partials/footer') -%>
