/*
#FDEBF7
#FBCAFF
#FFADF0
#FC28FB
#7A0BC0
*/

body{
  font-family: 'Merriweather', sans-serif;

}

/* Navbar section */
.navbar-container{
  background-color: #FFADF0;
  width: 100%;
  position: fixed;
  z-index: 1;


}
.navbar-box{
  width: 80%;
  margin: 0 auto;
  background-color: #FFADF0;

}
.navbar{
  background-color: #FFADF0;

}

.navbar-container a{
  color: #7A0BC0;
  font-size: 20px;
}

.navbar-brand{
  color: #7A0BC0 !important;
  font-size: 30px !important;
}

.navbar li{
  margin: 0 10px 0 10px;
}

/* Home section */


.home-container{
  height: 600px;
  background-image: url("/images/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FC28FB;
  /* position: relative;
  top: 70px; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.home-box{
  width: 80%;
  /* background-color: green; */
  height: 80%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.home-box-left{
  flex:1;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-box-right{
  flex:1;
  height: 100%;
  /* background-color: red; */
  color: #7A0BC0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  font-size: 30px;

}
.home-box-left-img-div{
  width: 80%;
  height: 80%;
  background-image: url("/images/home_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;

}

/* About section */
.about-container{
  height: 600px;
  /* background-image: url("/images/home_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FBCAFF;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-box{
  width: 80%;
  /* background-color: yellow; */

  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.about-box p{
  color: #7A0BC0;
}
.about-box h2{
  color: #7A0BC0;

}
.about-box-left{
  flex:1;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-box-right{
  flex:1;
  height: 100%;
  /* background-color: red; */
  color: #7A0BC0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  font-size: 20px;

}
.about-box-left-img-div{
  width: 80%;
  height: 60%;
  background-image: url("/images/about_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;

  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
}

/* .about-box-left-img-div-parent{
  background-color: red;
} */

/* features section */

.features-container{
  height: 700px;
  /* background-image: url("/images/home_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FC28FB;

  display: flex;
  align-items: center;
  justify-content: center;
}
.features-box{
  width: 80%;
  /* background-color: green; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.features-box img{
  border-radius: 50%;

}
.features-box img{
  opacity: 0.8;
}
.features-box p{
  font-size: 24px !important;
  color: #7A0BC0 !important;
  width: 75%;
}
.features-box-title{
  /* background-color: green; */
  width: 100%;
  margin: 0 0 50px 0;
  color: #7A0BC0;
}

.features-box-1{
  flex: 1;
  width: 100%;
  /* background-color: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin: 0 0 10px 0;
}

.features-box-2{
  flex: 1;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin: 10px 0 0 0;


}

.features-box-1-1{
  flex: 1;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
border-radius: 25px;

}
.features-box-1-2{
  flex: 1;
  height: 100%;
  /* background-color: cyan; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
border-radius: 25px;
}

.features-box-2-1{
  flex: 1;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
border-radius: 25px;

}
.features-box-2-2{
  flex: 1;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
border-radius: 25px;

}

.features-box-1-1-img{
  /* background-color: orange; */
  /* background-image: url("/images/home_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */
  /* border-radius: 50%; */
  /* -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4); */
}

.features-box-1-2-img{
  /* background-image: url("/images/home_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */

  /* -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4); */
}
.features-box-2-1-img{
  /* background-image: url("/images/home_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */

  /* -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4); */

}
.features-box-2-2-img{
  /* background-image: url("/images/home_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 50px; */

  /* -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4);
box-shadow: 4px 4px 4px rgba(68,68,68,0.4), -4px -4px 4px rgba(68,68,68,0.4); */
}

.features-box-1-1-content{
  padding: 0 0 0 5px;
  flex: 1;
}
.features-box-1-2-content{
  padding: 0 0 0 5px;

  flex: 1;
}
.features-box-2-1-content{
  padding: 0 0 0 5px;

  flex: 1;

}
.features-box-2-2-content{
  padding: 0 0 0 5px;

  flex: 1;

}




/* measures section */
.measures-container{
  height: 500px;
  /* background-image: url("/images/home_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FBCAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7A0BC0;
}
.measures-box{
  width: 60%;
  background-color: #FC28FB;
  border-radius: 25px;
  height: 80%;
  padding: 0 0 0 5%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.measures-box h2{
  /* text-align: center; */
}
.measures-box p{
  /* background-color: grey; */
  /* width: 60%; */
  font-size: 20px;
  /* margin: 0px auto; */

}

/* testimonial sec */
.testimonial-container{
  /* min-height: 700px; */
  /* background-image: url("/images/home_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FC28FB;

  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-box{
  width: 80%;
  /* background-color: green; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-box h5{
  font-size: 24px;
  color: #7A0BC0;
}
.testimonial-box p{
  font-size: 18px;
  color: #7A0BC0;
}

.card{
  -moz-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
-webkit-box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
box-shadow: 4px 4px 4px rgba(68,68,68,0.2), -4px -4px 4px rgba(68,68,68,0.2);
}
.card-body{
  background-color: #FBCAFF;

}

@media only screen and (max-width : 799.9px) {
 .card-deck{
   flex-direction: column;
 }
 .card{
   margin: 50px;
   border-radius: 10px;
 }
}
@media (min-width : 1200px) {
  .card-deck{
    margin: 50px;
  }
  .card, .card img, .card div{
    border-radius: 25px;
  }
  .card img{
    border-radius: 25px 25px 0 0;

  }
  .card div{
    border-radius: 0 0 25px 25px;

  }
}



/* footer section */

.footer-container{
  height: 100px;
  color: #FC28FB;
  /* background-image: url("/images/home_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #FBCAFF;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-box{
  width: 80%;
  /* background-color: green; */


  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
